h1 {
    text-align: center;
    color: aquamarine;
    background-color: black;
}
.baby {
    background-color:orange;
}
.mama {
     background-color: chartreuse;
}
img {
    float: right;
}
.gagu {
    background-color: coral;
    border-left: 2px solid red;
    border-right: 4px solid blue;
    border-top: 6px solid orange;
    border-bottom: 8px solid black;
}