h1 {
    text-align: center;
    color: aquamarine;
    background-color: black;
}
.baby {
    background-color:orange;
}
.mama {
     background-color: chartreuse;
}
img {
    float: right;
}
.gagu {
    background-color: coral;
}